<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChargebackSdkForNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ChargebackSdkForNet.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value>dummyUser</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>dummyPass</value>
      </setting>
      <setting name="merchantId" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>https://www.testvantivcnp.com/sandbox</value>
      </setting>
      <setting name="printXml" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="proxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="neuterXml" serializeAs="String">
        <value>false</value>
      </setting>
    </ChargebackSdkForNet.Properties.Settings>
  </userSettings>
</configuration>