<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="vantivEcommerce">
            <section name="chargebackSettings"
                     type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <vantivEcommerce>
        <chargebackSettings>
            <add key="username" value="" />
            <add key="password" value="" />
            <add key="merchantId" value="" />
            <add key="host" value="https://services.vantivprelive.com" />
            <add key="printXml" value="true" />
            <add key="proxyHost" value="" />
            <add key="proxyPort" value="" />
            <add key="neuterXml" value="false" />
        </chargebackSettings>
    </vantivEcommerce>
    <appSettings>
        <!--Your app settings-->
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
        <supportedRuntime version="v4.0"/>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>