<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="vantivEcommerce">
            <section name="chargebackSettings"
                     type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <vantivEcommerce>
        <chargebackSettings>
            <add key="username" value="SDKTEAM12" />
            <add key="password" value="V2b9F4k7" />
            <add key="merchantId" value="1288791" />
            <add key="host" value="https://www.testvantivcnp.com/spring" />
            <add key="printXml" value="true" />
            <add key="proxyHost" value="websenseproxy" />
            <add key="proxyPort" value="8080" />
            <add key="neuterXml" value="false" />
        </chargebackSettings>
    </vantivEcommerce>
    <appSettings>
        <!--Your app settings-->
      
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
        <supportedRuntime version="v4.0"/>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
